@import '../../assets/scss/main';

.header {
  background: linear-gradient(to right, $first-color, $second-color);
  box-shadow: 0 0 3px grey;
  -webkit-animation: AnimationHeader 5s ease infinite;
  -moz-animation: AnimationHeader 15s ease infinite;
  animation: AnimationHeader 5s ease infinite;
  background-size: 200% 200%;
}

.navbar-menu {
  display: flex;
}

@-webkit-keyframes AnimationHeader {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes AnimationHeader {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes AnimationHeader {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
